{:cljdoc.doc/tree
 [["Readme" {:file "README.md"}]
  ["Changelog" {:file "CHANGELOG.md"}]
  ["F.A.Q." {:file "doc/faq.md"}]
  ["μ/log internals" {:file "doc/mulog-internals.md"}]
  ["Custom transformations" {:file "doc/custom-transform.md"}]

  ["Publishers"
   ["Simple Console Publisher" {:file "doc/publishers/simple-console-publisher.md"}]
   ["Simple File Publisher" {:file "doc/publishers/simple-file-publisher.md"}]
   ["Advanced Console Publisher" {:file "doc/publishers/advanced-console-publisher.md"}]
   ["Advanced File Publisher" {:file "doc/publishers/advanced-file-publisher.md"}]
   ["Cloudwatch Logs Publisher" {:file "doc/publishers/cloudwatch-logs-publisher.md"}]
   ["Elasticsearch Publisher" {:file "doc/publishers/elasticsearch-publisher.md"}]
   ["Jaeger Publisher" {:file "doc/publishers/jaeger-publisher.md"}]
   ["Kafka Publisher" {:file "doc/publishers/kafka-publisher.md"}]
   ["Kinesis Publisher" {:file "doc/publishers/kinesis-publisher.md"}]
   ["Prometheus Publisher" {:file "doc/publishers/prometheus-publisher.md"}]
   ["Slack Publisher" {:file "doc/publishers/slack-publisher.md"}]
   ["Zipkin Publisher" {:file "doc/publishers/zipkin-publisher.md"}]
   ]
  ["Special publishers"
   ["Custom Publishers" {:file "doc/publishers/custom-publishers.md"}]
   ["Inline Publishers" {:file "doc/publishers/inline-publishers.md"}]
   ["Multi Publisher" {:file "doc/publishers/multi-publisher.md"}]
   ]
  ["Samplers" {:file "doc/samplers.md"}
   ["Jvm Metrics Sampling" {:file "doc/publishers/jvm-metrics-sampling.md"}]
   ["Filesystem Metrics Sampling" {:file "doc/publishers/filesystem-metrics-sampling.md"}]
   ["JMX MBean Metrics Sampling" {:file "doc/publishers/mbean-metrics-sampling.md"}]
   ["Kafka Metrics Sampling" {:file "doc/publishers/kafka-metrics-sampling.md"}]]

  ["HowTos"
   ["How to write custom publishers" {:file "doc/custom-publishers.md"}]
   ["How to transfer the local-context" {:file "doc/transfer-context.md"}]
   ["How to JSON encode custom Java classes" {:file "doc/json-encode.md"}]
   ["How to write a tracking Ring middleware" {:file "doc/ring-tracking.md"}]
   ["How to query µ/log events using Amazon Athena" {:file "doc/athena-integration.md"}]]

  ["Other topics"
   ["Attribute name mangling on Elasticsearch" {:file "doc/els-name-mangling.md"}]]

  ]}
